*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.partnership__content-partners{
    width: 323px;
    height: 352px;
    margin: 30px 30px 0px 30px;
}
.paragraph1{
    line-height: 35px;
   

}
.paragraph1>h3{
    font-size: 27px;
    margin-left: 20px;
    color: var(--primary-project-color);
    margin-bottom: 15px;
}
.paragraph1>p{
    font-size: 26px;
    font-family: "Calibri";
    word-spacing: 8px;
}
@media all and (max-width: 1200px){
    .paragraph1>p {
        font-size: 24px;
        font-family: "Calibri";
        word-spacing: 8px;
    }
    .partnership__content-partners{
        width: 310px;
        height: 352px;
        margin: 30px 30px 0px 30px;
    }
}
@media all and (max-width: 1100px){
    .partnership__content-partners{
        width: 450px;
        height: 352px;
        margin: 30px 20px 0px 20px;
    }
}
@media all and (max-width: 1000px){
    .partnership__content-partners{
        width: 450px;
        height: 352px;
        margin: 30px 18px 0px 18px;
    }
    .paragraph1>p {
        font-size: 23px;
        font-family: "Calibri";
        word-spacing: 8px;
    }
    .paragraph1>h3 {
        font-size: 23px;
        margin-left: 9px;
        color: var(--primary-project-color);
        margin-bottom: 15px;
    }
    .homePage__partnership-content>h2 {
        text-align: center;
        align-items: center;
        margin-top: 30px;
        font-size: 35px;
        color: var(--primary-project-color);
    }
}
@media all and (max-width: 900px){
    .paragraph1>p {
        font-size: 20px;
        font-family: "Calibri";
        word-spacing: 0px;
        margin-top: 14px;
    }
}
@media all and (max-width:800px){
    .paragraph1>h3 {
        font-size: 20px;
        margin-left: 0px;
        color: var(--primary-project-color);
        margin-bottom: -5px;
    }
    .paragraph1>p {
        font-size: 19px;
        font-family: "Calibri";
        word-spacing: 0px;
        margin-top: 14px;
    }
    .paragraph1{
        line-height: 30px;
    }
}
@media all and (max-width:600px){
    .partnership__content-partners {
        width: 450px;
        height: 150px;
        margin: auto;
        margin-top: 25px;
        /* margin: 30px 18px 0px 18px; */
    }
}
@media all and (max-width:500px){
    .partnership__content-partners {
        width:400px;
        height: 150px;
        margin: auto;
        margin-top: 25px;
        /* margin: 30px 18px 0px 18px; */
    }
}
@media all and (max-width:450px){
    .partnership__content-partners {
        width:350px;
        height: 150px;
        margin: auto;
        margin-top: 25px;
        /* margin: 30px 18px 0px 18px; */
    }
    .homePage__partnership-content>h2 {
        text-align: center;
        align-items: center;
        margin-top: 21px;
        font-size: 30px;
        color: var(--primary-project-color);
    }
    .paragraph1{
        line-height: 25px;
    }
}
@media all and (max-width:400px){
    .partnership__content-partners {
        width:300px;
        height: 170px;
        margin: auto;
        margin-top: 25px;
        /* margin: 30px 18px 0px 18px; */
    }
    .homePage__partnership-content>h2 {
        text-align: center;
        align-items: center;
        margin-top: 13px;
        font-size: 30px;
        color: var(--primary-project-color);
    }
}
@media all and (max-width:350px){
    .homePage__partnership-content>h2 {
        text-align: center;
        align-items: center;
        margin-top: 7px;
        font-size: 26px;
        color: var(--primary-project-color);
    }
    .partnership__content-partners {
        width:250px;
        height: 185px;
        margin: auto;
        margin-top: 25px;
        /* margin: 30px 18px 0px 18px; */
    }
    .paragraph1{
        line-height: 23px;
    }
}
@media all and (max-width:300px){
    .partnership__content-partners {
        width:220px;
        height: 190px;
        margin: auto;
        margin-top: 25px;
        /* margin: 30px 18px 0px 18px; */
    }
    .paragraph1{
        line-height: 20px;
    }

}